################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/HonasRuler/bin/Debug/HonasRuler.exe
/HonasRuler/bin/Debug/HonasRuler.pdb
/HonasRuler/bin/Debug/HonasRuler.vshost.exe
/HonasRuler/bin/x86/Debug/HonasRuler.vshost.exe.manifest
/HonasRuler/bin/x86/Debug/HonasRuler.vshost.exe.config
/HonasRuler/bin/x86/Debug/HonasRuler.vshost.exe
/HonasRuler/bin/x86/Debug/HonasRuler.pdb
/HonasRuler/bin/x86/Debug/HonasRuler.exe.config
/HonasRuler/bin/x86/Debug/HonasRuler.exe
/HonasRuler/bin/Debug/HonasRuler.vshost.exe.manifest
/HonasRuler/bin/Debug/HonasRuler.vshost.exe.config
/HonasRuler/bin/Debug/HonasRuler.exe.config
/HonasRuler/obj/Debug/HonasRuler.RulerCtrl.resources
/HonasRuler/obj/Debug/HonasRuler.Properties.Resources.resources
/HonasRuler/obj/Debug/HonasRuler.pdb
/HonasRuler/obj/Debug/HonasRuler.Form1.resources
/HonasRuler/obj/Debug/HonasRuler.exe
/HonasRuler/obj/Debug/HonasRuler.csprojResolveAssemblyReference.cache
/HonasRuler/obj/Debug/HonasRuler.csproj.GenerateResource.Cache
/HonasRuler/obj/Debug/HonasRuler.csproj.FileListAbsolute.txt
/HonasRuler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HonasRuler/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/HonasRuler/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/HonasRuler/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HonasRuler/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HonasRuler/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HonasRuler/obj/x86/Debug/HonasRuler.RulerCtrl.resources
/HonasRuler/obj/x86/Debug/HonasRuler.Properties.Resources.resources
/HonasRuler/obj/x86/Debug/HonasRuler.pdb
/HonasRuler/obj/x86/Debug/HonasRuler.Form1.resources
/HonasRuler/obj/x86/Debug/HonasRuler.exe
/HonasRuler/obj/x86/Debug/HonasRuler.csprojResolveAssemblyReference.cache
/HonasRuler/obj/x86/Debug/HonasRuler.csproj.GenerateResource.Cache
/HonasRuler/obj/x86/Debug/HonasRuler.csproj.FileListAbsolute.txt
/HonasRuler/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HonasRuler/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/HonasRuler/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/HonasRuler/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HonasRuler/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HonasRuler/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/.vs/HonasRuler/v14/.suo
/HonasRuler/bin/Release/HonasRuler.exe
/HonasRuler/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/HonasRuler/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HonasRuler/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HonasRuler/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HonasRuler/obj/Release/HonasRuler.RulerCtrl.resources
/HonasRuler/obj/Release/HonasRuler.Properties.Resources.resources
/HonasRuler/obj/Release/HonasRuler.pdb
/HonasRuler/obj/Release/HonasRuler.Form1.resources
/HonasRuler/obj/Release/HonasRuler.exe
/HonasRuler/obj/Release/HonasRuler.csproj.GenerateResource.Cache
/HonasRuler/obj/Release/HonasRuler.csproj.FileListAbsolute.txt
/HonasRuler/obj/Release/HonasRuler.About.resources
/HonasRuler/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/HonasRuler/obj/Release/DesignTimeResolveAssemblyReferences.cache
/HonasRuler/bin/Release/HonasRuler.vshost.exe.manifest
/HonasRuler/bin/Release/HonasRuler.vshost.exe.config
/HonasRuler/bin/Release/HonasRuler.vshost.exe
/HonasRuler/bin/Release/HonasRuler.pdb
/HonasRuler/bin/Release/HonasRuler.exe.config
