<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Advertising.JS" version="10.1609.2" targetFramework="net40" />
  <package id="Microsoft.Advertising.XAML" version="10.1609.2" targetFramework="net40" />
  <package id="Microsoft.Services.Store.Engagement" version="10.1610.0" targetFramework="net40" />
  <package id="Microsoft.Services.Store.SDK" version="10.1610.31001" targetFramework="net40" />
</packages>